<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>登陆</h1>

<form method="post" action="/login">
    <div>
        <p>账号：
            <input type="text" name="uname">
        </p>
    </div>
    <div>
        <p>密码：
            <input type="password" name="pwd">
        </p>
    </div>
    <p>
        <label><input type="checkbox" name="rememberMe"> 记住我</label>&nbsp;
        <button type="submit">登陆</button>
    </p>
</form>
</body>
</html>